{% extends 'layouts/base.html' %} {% load crispy_forms_tags %} {% load static %}
{% block body %}
<!-- Navbar -->
<nav class="navbar p-4 pe-5">
  <div class="container-fluid">
    <a class="navbar-brand color-primary font-size-1" href="/inicio">
      <img
        src="{% static 'images/13045f292f2a450687918591a7a1eb70 1.svg' %}"
        alt="Logo"
        width="47"
        height="36"
        class="d-inline-block align-text-top"
      />
      TravelEasy
    </a>
    <a
      class="color-primary text-decoration-none font-size-2"
      id="logout-link"
      href="#"
      >{{ request.user.name }}</a
    >
    <div id="logout-popup">
      <p>¿Deseas cerrar sesión?</p>
      <button id="logout-btn">Cerrar sesión</button>
    </div>
  </div>
</nav>
<div class="px-5 py-3">{% block content %} {% endblock content %}</div>
  <!-- Footer -->
  <footer
    class="text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contactanos</h5>

            <p>
              Av 7 #35-45 Centro, Cúcuta
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Telefono:</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">(607) 5635770</a>
              </li>
              <li>
                <a href="#!" class="text-white">3015564744</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Correo Electronico:</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">TravelEasy@hotmail.com</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
        <hr class="mb-3">

      </section>
      <!-- Section: Social media -->
      <section class="mb-3 text-center">
        <!-- Facebook -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>

        <!-- Google -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i
        ></a>

        <!-- Instagram -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <!-- Github -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
     2023 © Copyright:
      <a class="text-white">TraverlEasy</a>
    </div>
    <!-- Copyright -->
  </footer>
{% endblock body %}
