.icon-hover:hover {
    border-color: #ca3bb2 !important;
    background-color: white !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }
  
html, body {
    height: 100%;
    margin: 0;
  }
  
.gradient-custom {
    background: linear-gradient(to right, #d1a5d5, #FF69B4); /* Utilicé tonos pastel de dorado y rosa */
}

.login-section {
    min-height: 80vh;
}

.card {
    background: #fff;
}

.form-outline {
    border: 2px solid #343a40;
}

.btn-dark {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:hover {
    background-color: #1d2124;
}

.text-dark {
    color: #343a40;
}

.text-dark-50 {
    color: #6c757d;
}

.fab {
    transition: color 0.3s ease-in-out;
}

.fab:hover {
    color: #1d2124;
}

/* Estilos para el fondo oscuro detrás del modal */
.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el modal */
.modal {
    display: none;
    background-color: #fff;
    width: 50%; /* Ancho del modal */
    max-width: 500px; /* Ancho máximo del modal */
    max-height: 700px; /* Ancho máximo del modal */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: auto;
}
