{% extends 'general/inicio.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Pure Beauty
{% endblock title %}
  
{% block content %}

<!-- Products -->
<section>
    <div class="container my-5">
      <header class="mb-4">
        <h3>Detalle del Producto</h3>
      </header>
  
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img src="{{ producto.imagen.url }}" class="img-fluid" alt="{{ producto.nombre }}">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h2>{{ producto.nombre }}</h2>
          <p>{{ producto.descripcion }}</p>
          {% if user.is_authenticated %}
          {% if producto.is_lista %}
          <a href="/" class="btn btn-light border px-2 pt-2 icon-hover add-to-wishlist"
            data-product-id="{{ producto.id }}">
            <i class="fas fa-heart fa-lg px-1" style="color: rgb(255, 0, 0);"></i>
          </a>
          {% else %}
          <a href="/" class="btn btn-light border px-2 pt-2 icon-hover add-to-wishlist"
            data-product-id="{{ producto.id }}">
            <i class="fas fa-heart fa-lg px-1" style="color: rgb(105, 105, 105);"></i>
          </a>
          {% endif %}
          {% else %}
          <a href="{% url 'usuario:login' %}" class="btn btn-light border px-2 pt-2 icon-hover">
            <i class="fas fa-heart fa-lg px-1" style="color: rgb(105, 105, 105);"></i>
          </a>
          {% endif %}
          <p><strong>Precio:</strong> {{ producto.precio_act }}</p>
          <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="cantidad" class="form-label">Cantidad:</label>
                <select class="form-select custom-select" id="cantidad" name="cantidad">
                    {% for cantidad in cantidades %}
                        <option value="{{ cantidad }}">{{ cantidad }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if user.is_authenticated %}
            <button type="submit" class="btn btn-rosado">Agregar al carrito</button>
            {% else %}
            <a href="{% url 'usuario:login' %}" class="btn btn-rosado">Agregar al carrito</a>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </section>
<!-- Products -->

<script>
  $(document).ready(function () {
    // Función para manejar el evento de clic en el botón de la lista de deseos
    $('.add-to-wishlist').on('click', function (e) {
      e.preventDefault();
      var productoId = $(this).data('product-id');
  
      // Realizar una solicitud AJAX para agregar o quitar el producto de la lista de deseos
      $.ajax({
        type: 'GET',
        url: '/agregar-a-lista-deseos/' + productoId + '/',
        success: function (response) {
          if (!response.success) {
            alert(response.message);
          } else {
            // Mostrar mensaje de éxito si es necesario
            if (response.success) {
              $('#success-message').text(response.message).show();
            }
          }
          location.reload();
        },
        error: function (xhr, status, error) {
          console.error(error);
          location.reload();
        }
      });
    });
  });
</script>

{% endblock content %}
