{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Inicio Sesión
{% endblock title %}

{% block body %}

<div class="gradient-custom my-auto" style="display: block;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div>
              {% if messages %}
              <div>
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                  {{message}}
                </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
            <form method="POST">
              {% csrf_token %}
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-4 mt-4 text-uppercase">Inicio de sesión</h2>
                {{form|crispy}}
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Iniciar sesión</button>
              </div>

              <div>
                <p class="mb-0">¿No tienes cuenta? <a href="{% url 'usuario:registro' %}" class="text-white-50 fw-bold">Registrate aquí</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}