{% extends 'layouts/inicio.html' %} 
{% load static %} 

{% block title %}
{{evento.nombre}}
{% endblock title %}
  

{% block content %}
<div class="titulo text-center">
  <h1>{{evento.nombre}}</h1>
</div>
<div style="padding-left: 10%;">
  <a href="{% url 'empleado:agregarViatico' idEvento=evento.id %}" class="btn btn-primary">Agregar</a>
</div>

<div class="d-flex justify-content-center ">
  <table class="table table-striped text-center mx-auto tabletamanio">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Tipo</th>
        <th scope="col">Soporte</th>
        <th scope="col">Costo</th>
        <th scope="col">Verificado</th>
      </tr>
    </thead>
    <tbody>
      {% for viatico in viaticos %}
      <tr>
        <td>{{ viatico.fecha_gasto }}</td>
        <td>{{ viatico.tipo_viatico }}</td>
        <td><a href="{{ viatico.soporte.url }}">{{ viatico.soporte }}</a></td>
        <td>{{ viatico.costo }}</td>
        <td>{% if viatico.verificado%}✔{% else %}❌{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
