{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Listado de categorías</h1>
        </div>
        <div class="col-4 text-right">
            <a class="btn btn-outline-dark" href="{% url 'producto:add_categoria' %}">Agregar categoria</a>
        </div>
    </div>

</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" style="color: black;" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" style="color: black;" href="#">1</a></li>
        <li class="page-item"><a class="page-link" style="color: black;" href="#">2</a></li>
        <li class="page-item"><a class="page-link" style="color: black;" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" style="color: black;" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
<table class="table">
    <thead style="background-color: #7386D5;">
        <tr>
            <th scope="col" style="color:aliceblue;">#</th>
            <th scope="col" style="color:aliceblue;">Nombre</th>
            <th scope="col" style="color:aliceblue;">Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ producto.nombre }}</td>

            <td>
                <div class="container">
                    <div class="row">
                        <a href="/categorias/delete/{{producto.id}}">
                            <button class="btn btn-outline-dark btn-block">🗑</button>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}