{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Listado de productos</h1>
        </div>
        <div class="col-4 text-right">
            <button class="btn btn-outline-dark" onclick="abrirModal()">Agregar producto</button>
        </div>
    </div>

</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" style="color: black;" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" style="color: black;" href="#">1</a></li>
        <li class="page-item"><a class="page-link" style="color: black;" href="#">2</a></li>
        <li class="page-item"><a class="page-link" style="color: black;" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" style="color: black;" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
<table class="table">
    <thead style="background-color: #7386D5;">
        <tr>
            <th scope="col" style="color:aliceblue;">#</th>
            <th scope="col" style="color:aliceblue;">Nombre</th>
            <th scope="col" style="color:aliceblue;">Cantidad</th>
            <th scope="col" style="color:aliceblue;">Descuento</th>
            <th scope="col" style="color:aliceblue;">Categoría</th>
            <th scope="col" style="color:aliceblue;">Precio</th>
            <th scope="col" style="color:aliceblue;">Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.stock }}</td>
            <td>
                <a href="#">
                    <div class="container">
                        <div class="row">
                            {{ producto.precio_desc }}✎
                        </div>
                    </div>
                </a>
            </td>
            <td><a href="#">{{ producto.categoria }}</a></td>
            <td>${{producto.precio_act|floatformat:0|intcomma}}</td>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <button class="btn btn-outline-dark btn-block">🗑</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-dark btn-block" onclick="abrirModalDetalle()">👁</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-dark btn-block">✎</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- MODALES -->
<div class="modal-background" id="addProductoBg">
    <!-- Contenido del modal -->
    <div class="modal" id="addProducto">
        <div class="modal-header">
            <h2 class="modal-title">Agregar Producto</h2>
            <button type="button" class="close" onclick="cerrarModal()" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'producto:add' %}">
                {% csrf_token %}
                {{ form_producto|crispy }}
                <br>
                {{ form_subcategoria|crispy }}

                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-dark">Añadir</button>
                    <button type="button" class="btn btn-outline-dark" onclick="cerrarModal()">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-background" id="detallebackground" style="display: none;">
    <!-- Contenido del modal -->
    <div class="modal" id="detalleProducto" style="max-height: 700px; overflow-y: auto;">
        <div class="modal-header">
            <h2 class="modal-title">{{ detalle.nombre }}</h2>
            <a href="{% url 'producto:inicio' %}">
                <button type="button" class="close" onclick="cerrarModalDetalle()" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </a>
        </div>
        <div class="modal-body">
            <!-- Muestra la imagen centrada -->
            <div class="text-center">
                <img src="{{ detalle.imagen.url }}" alt="{{ detalle.nombre }}" class="img-fluid"
                    style="max-width: 300px; max-height: 200px;"">
            </div>

           
            <h4>Precio: </h4>
            <p>${{ detalle.precio_act|floatformat:0|intcomma }}</p>
            <h4>Cantidad: </h4>
            <p>{{ detalle.stock }}</p>
            <h4>Descripción: </h4>
            <p>{{ detalle.descripcion }}</p>
            {% for categoria in categorias %}
            <a href=" #" class="btn btn-primary">{{ categoria }}</a>
                {% endfor %}

            </div>
            <div class=" modal-footer">
                <a href="{% url 'producto:inicio' %}">
                    <button type="button" class="btn btn-outline-dark" onclick="cerrarModalDetalle()">Cerrar</button>
                </a>
            </div>
        </div>
    </div>
    <!-- Fin Modales -->

    <script>
        function abrirModal() {
            // Mostrar el fondo oscuro y el modal
            document.getElementById("addProductoBg").style.display = "flex";
            document.getElementById("addProducto").style.display = "block";
        }

        function cerrarModal() {
            // Ocultar el fondo oscuro y el modal
            document.getElementById("addProductoBg").style.display = "none";
            document.getElementById("addProducto").style.display = "none";
        }
        cerrarModal()
        function abrirModalDetalle() {
            // Mostrar el fondo oscuro y el modal
            document.getElementById("detallebackground").style.display = "flex";
            document.getElementById("detalleProducto").style.display = "block";
        }

        function cerrarModalDetalle() {
            // Ocultar el fondo oscuro y el modal
            document.getElementById("detallebackground").style.display = "none";
            document.getElementById("detalleProducto").style.display = "none";
        }
        cerrarModalDetalle()
        abrirModalDetalle()

    </script>

    {% endblock content %}