{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<h1>Listado de productos</h1>
<table class="table">
    <thead style="background-color: #7386D5;">
        <tr>
            <th scope="col" style="color:aliceblue;">#</th>
            <th scope="col" style="color:aliceblue;">Nombre</th>
            <th scope="col" style="color:aliceblue;">Cantidad</th>
            <th scope="col" style="color:aliceblue;">Descuento</th>
            <th scope="col" style="color:aliceblue;">Categoría</th>
            <th scope="col" style="color:aliceblue;">Precio</th>
            <th scope="col" style="color:aliceblue;">Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.stock }}</td>
            <td>{{ producto.precio_desc }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.precio_act }}</td>
            <td> </td>
        </tr>
        {% endfor %}    
    </tbody>
</table>
{% endblock content %}

