{% load static %}


<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
        <div class="container">
            <div class="row gy-3">
                <!-- Left elements -->
                <div class="col-lg-2 col-sm-4 col-4">
                    <a href="https://mdbootstrap.com/" target="_blank" class="float-start">
                        <img src="{% static '/images/logo.jpg' %}" height="60" />
                    </a>
                </div>
                <!-- Left elements -->

                <!-- Center elements -->
                <div class="order-lg-last col-lg-10 col-sm-8 col-8">
                    <div class="d-flex justify-content-end"> <!-- Cambiado de float-end a justify-content-end -->
                        {% if not user.is_authenticated %}
                        <a href="{% url 'usuario:login' %}"
                            class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"
                            style="color: #d7716a;">
                            <i class="fas fa-user-alt m-1 me-md-2"></i>
                            <p class="d-none d-md-block mb-0" style="color:#d7716a;">Iniciar Sesión</p>
                        </a>
                        {% else %}
                        <a href="/perfil"
                            class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"
                            style="color: #d7716a;">
                            <i class="fas fa-user-alt m-1 me-md-2"></i>
                            <p class="d-none d-md-block mb-0" style="color:#d7716a;"> {{ user.name }}</p>
                        </a>
                        {% endif %}

                        <a href="{% url 'usuario:login' %}"
                            class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
                            <i class="fas fa-heart m-1 me-md-2" style="color: #d7716a;"></i>
                            <p class="d-none d-md-block mb-0" style="color: #d7716a;">Lista de deseos</p>
                        </a>
                        <a href="{% url 'usuario:login' %}"
                            class="border rounded py-1 px-3 nav-link d-flex align-items-center">
                            <i class="fas fa-shopping-cart m-1 me-md-2" style="color: #d7716a;"></i>
                            <p class="d-none d-md-block mb-0" style="color: #d7716a;">Mi carrito</p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Jumbotron -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'usuario:nuevos' %}">Nuevos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categorias
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for subcategoria in subcategorias %}
                            <a class="dropdown-item" href="#">{{ subcategoria.nombre }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ofertas</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- Navbar -->


</header>