{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="col-8">
        <h1>Listado de Ordenes</h1>
    </div>
</div>
<table class="table">
    <!-- Encabezados de la tabla -->
    <thead style="background-color: #7386D5;">
        <tr>
            <th scope="col" style="color:aliceblue;">#</th>
            <th scope="col" style="color:aliceblue;">Fecha de la orden</th>
            <th scope="col" style="color:aliceblue;">Fecha de envio</th>
            <th scope="col" style="color:aliceblue;">Estado</th>
            <th scope="col" style="color:aliceblue;">Precio</th>
            <th scope="col" style="color:aliceblue;">Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for orden in ordenes %}
        <tr>
            <th scope="row">{{ orden.id }}</th>
            <td>{{ orden.fecha|date:"d/m/Y" }}</td>
            <td>{{ orden.fecha_de_envio|date:"d/m/Y" }}</td>
            <td>{{ orden.estado_pedido }}</td>
            <td>{{ orden.total_compra }}</td>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-block" onclick="abrirModalDetalles('{{ orden.id }}')">👁</button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-block" onclick="abrirModalEditar('{{ orden.id }}')">✎</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- MODALES -->
<div class="modal-background" id="editarOrdenModalBg" style="display: none;">
    <div class="modal" id="editarOrdenModal">
        <h2>Editar Orden</h2>
        <form id="editarOrdenForm" method="POST">
            {% csrf_token %}
            <label for="fechaEnvioInput">Fecha de Envío:</label>
            <input type="date" id="fechaEnvioInput" name="fecha_envio">
            
            <label for="estadoPedidoInput">Estado de Pedido:</label>
            <select id="estadoPedidoInput" name="estado_pedido">
                {% for estado_pedido in estados_pedidos %}
                    <option value="{{ estado_pedido.id }}">{{ estado_pedido.nombre }}</option>
                {% endfor %}
            </select>
            <div class="row mt-3">
                <div class="col">
                    <button class="btn btn-primary btn-sm disabled" type="submit">Guardar cambios</button>
                </div>
                <div class="col">
                    <button onclick="cerrarModalEditar()" class="btn btn-secondary btn-sm">Cerrar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-background" id="verDetallesModalBg" style="display: none;">
    <div class="modal" id="verDetallesModal">
        <h2>Detalles del Pedido</h2>
        <!-- Mostrar los detalles del pedido aquí en una tabla -->
        <table class="table table-bordered mt-3">
            <thead>
                <!-- Encabezados de la tabla de detalles del pedido -->
            </thead>
            <tbody id="detallesPedidoTableBody">
                <!-- Filas de detalles del pedido -->
            </tbody>
        </table>


        <!-- Detalles del cliente -->
        <div class="mt-4">
            <h3>Información del Usuario</h3>
            <div id="detallesUsuarioContainer">
                <!-- Detalles del usuario se agregarán aquí mediante JavaScript -->
            </div>
        </div>
        
        <!-- Botón para cerrar el modal -->
        <div class="row mt-3">
            <div class="col">
                <button onclick="cerrarModalDetalles()" class="btn btn-secondary btn-sm">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Fin Modales -->

<script>
    function abrirModalEditar(id) {
        fetch(`/obtener_orden/${id}/`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('fechaEnvioInput').value = data.fecha_de_envio;
                document.getElementById('estadoPedidoInput').value = data.estado_pedido;
                // Asegúrate de ajustar otros campos si los hay
                document.getElementById('editarOrdenForm').setAttribute('action', `/actualizar_orden/${id}/`);
                
                const modal = document.getElementById("editarOrdenModalBg");
                const modalContent = document.getElementById("editarOrdenModal");
                modal.style.display = "flex";
                modalContent.style.display = "block";
            })
            .catch(error => {
                console.error('Error al obtener los datos de la orden:', error);
            });
    }
    
    function cerrarModalEditar() {
        const modal = document.getElementById("editarOrdenModalBg");
        const modalContent = document.getElementById("editarOrdenModal");
    
        modal.style.display = "none";
        modalContent.style.display = "none";
    
        // Evitar el comportamiento predeterminado del formulario
        event.preventDefault();
    }

    function abrirModalDetalles(id) {
        fetch(`/obtener_detalles_pedido/${id}/`)
            .then(response => response.json())
            .then(data => {
                const detallesUsuarioContainer = document.getElementById('detallesUsuarioContainer');
                detallesUsuarioContainer.innerHTML = ''; // Limpiar el contenedor de detalles del usuario
                
                const detallesUsuario = data.detalles_usuario;
                for (const [key, value] of Object.entries(detallesUsuario)) {
                    const detailRow = document.createElement('div');
                    detailRow.innerHTML = `<strong>${key}:</strong> ${value}`;
                    detallesUsuarioContainer.appendChild(detailRow);
                }
    
                const detallesPedidoTableBody = document.getElementById('detallesPedidoTableBody');
                detallesPedidoTableBody.innerHTML = '';
    
                const detalles = data.detalles_pedido;
                detalles.forEach(detalle => {
                    const row = document.createElement('tr');
                        
                    const productNameCell = document.createElement('td');
                    productNameCell.textContent = detalle.producto_nombre;
                    row.appendChild(productNameCell);
    
                    const quantityCell = document.createElement('td');
                    quantityCell.textContent = detalle.cantidad;
                    row.appendChild(quantityCell);
    
                    const priceCell = document.createElement('td');
                    priceCell.textContent = detalle.precio_producto * detalle.cantidad;
                    row.appendChild(priceCell);
    
                    const imageCell = document.createElement('td');
                    const img = document.createElement('img');
                    img.src = detalle.imagen_url;
                    img.alt = detalle.producto_nombre;
                    img.style.width = '50px';
                    img.style.height = '50px';
                    imageCell.appendChild(img);
                    row.appendChild(imageCell);
    
                    detallesPedidoTableBody.appendChild(row);
                });
    
                const modal = document.getElementById("verDetallesModalBg");
                const modalContent = document.getElementById("verDetallesModal");
                modal.style.display = "flex";
                modalContent.style.display = "block";
            })
            .catch(error => {
                console.error('Error al obtener los detalles del pedido:', error);
            });
    }
    
    function cerrarModalDetalles() {
        const modal = document.getElementById("verDetallesModalBg");
        const modalContent = document.getElementById("verDetallesModal");
    
        modal.style.display = "none";
        modalContent.style.display = "none";
    }


</script>
{% endblock content %}
