{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="col-8">
        <h1>Listado de Ordenes</h1>
    </div>
</div>
<table class="table">
    <!-- Encabezados de la tabla -->
    <thead style="background-color: #7386D5;">
        <tr>
            <th scope="col" style="color:aliceblue;">#</th>
            <th scope="col" style="color:aliceblue;">Fecha de la orden</th>
            <th scope="col" style="color:aliceblue;">Fecha de envio</th>
            <th scope="col" style="color:aliceblue;">Estado</th>
            <th scope="col" style="color:aliceblue;">Precio</th>
            <th scope="col" style="color:aliceblue;">Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for orden in ordenes %}
        <tr>
            <th scope="row">{{ orden.id }}</th>
            <td>{{ orden.fecha|date:"d/m/Y" }}</td>
            <td>{{ orden.fecha_de_envio|date:"d/m/Y" }}</td>
            <td>{{ orden.estado_pedido }}</td>
            <td>{{ orden.total_compra }}</td>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-block" onclick="abrirModalDetalles('{{ orden.id }}')">👁</button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-block" onclick="abrirModalEditar('{{ orden.id }}')">✎</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- MODALES -->
<div class="modal-background" id="editarOrdenModalBg" style="display: none;">
    <div class="modal" id="editarOrdenModal">
        <h2>Editar Orden</h2>
        <form id="editarOrdenForm" method="POST">
            {% csrf_token %}
            <label for="fechaEnvioInput">Fecha de Envío:</label>
            <input type="date" id="fechaEnvioInput" name="fecha_envio">
            
            <label for="estadoPedidoInput">Estado de Pedido:</label>
            <select id="estadoPedidoInput" name="estado_pedido">
                {% for estado_pedido in estados_pedidos %}
                    <option value="{{ estado_pedido.id }}">{{ estado_pedido.nombre }}</option>
                {% endfor %}
            </select>
            <div class="row mt-3">
                <div class="col">
                    <button class="btn btn-primary btn-sm disabled" type="submit">Guardar cambios</button>
                </div>
                <div class="col">
                    <button onclick="cerrarModalEditar()" class="btn btn-secondary btn-sm">Cerrar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Fin Modales -->

<script>
    function abrirModalEditar(id) {
        fetch(`/obtener_orden/${id}/`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('fechaEnvioInput').value = data.fecha_de_envio;
                document.getElementById('estadoPedidoInput').value = data.estado_pedido;
                // Asegúrate de ajustar otros campos si los hay
                document.getElementById('editarOrdenForm').setAttribute('action', `/actualizar_orden/${id}/`);
                
                const modal = document.getElementById("editarOrdenModalBg");
                const modalContent = document.getElementById("editarOrdenModal");
                modal.style.display = "flex";
                modalContent.style.display = "block";
            })
            .catch(error => {
                console.error('Error al obtener los datos de la orden:', error);
            });
    }
    
    function cerrarModalEditar() {
        const modal = document.getElementById("editarOrdenModalBg");
        const modalContent = document.getElementById("editarOrdenModal");
    
        modal.style.display = "none";
        modalContent.style.display = "none";
    
        // Evitar el comportamiento predeterminado del formulario
        event.preventDefault();
    }


</script>
{% endblock content %}
